<%- include("partials/header") -%>

<h1 class="text-center"><%= grpName %></h1>
<h3>Group Leader Name : <%= grpLeader %></h3>
<h3>Group Master Name : <%= grpMaster %></h3>
<p>Group Address : <%= grpAddress  %></p>
<h3>Aarat Name : <%= grpAarat %></h3>
<p><%= aaratLyrics %></p>
<p>Contact No : <%= cont %></p>



<%- include("partials/footer") -%>
