<%- include("partials/header") -%>

<h1 class="text-center"><u>Masters</u></h1>
<br>
<br>

<% masters.forEach(function(master){%>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="pHome" >
        <%= master.masterName %>
      </h2>
      <p class="pHome" >
        <%= master.masterAddress %>
      </p>
      <p class="pHome" >
        <%= master.masterAchievements %>
      </p>
    </div>
  </div>
<% })%>

<form class="" action="/masterEntryForm" method="get">
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg" name="button"><i class="fas fa-plus-circle"></i>  New Master</button>
  </div>

</form>

<%- include("partials/footer") -%>
